<div id="game">
    <div id="status">Status: <span></span></div>
    <div id="playerId">Player ID: <span></span></div>
    <div id="opponentId">Opponent ID: <span></span></div>
    <div id="nextPlayerId">Next player ID: <span></span></div>
    <table id="board">
        <tr>
            <td id="opponent-pit6" rowspan="2"><span class="count"></span></td>
            <td id="opponent-pit5"><span class="count"></span></td>
            <td id="opponent-pit4"><span class="count"></span></td>
            <td id="opponent-pit3"><span class="count"></span></td>
            <td id="opponent-pit2"><span class="count"></span></td>
            <td id="opponent-pit1"><span class="count"></span></td>
            <td id="opponent-pit0"><span class="count"></span></td>
            <td id="player-pit6" rowspan="2"><span class="count"></span></td>
        </tr>
        <tr>
            <td id="player-pit0"><button class="count"></button></td>
            <td id="player-pit1"><button class="count"></button></td>
            <td id="player-pit2"><button class="count"></button></td>
            <td id="player-pit3"><button class="count"></button></td>
            <td id="player-pit4"><button class="count"></button></td>
            <td id="player-pit5"><button class="count"></button></td>
        </tr>
    </table>
</div>
